body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
.carrossel {
    position: relative;
    width: 800px;
    overflow: hidden;
    border-radius: 10px;
}

/* Slides */
.slides {
    display: flex;
}

.slide {
    min-width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
}

.slide.active {
    opacity: 1;
    position: relative;
}

/* Botões */
.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.btn:hover {
    background: rgba(0,0,0,0.8);
}